:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
  --dark-gray-transparent: hsla(0, 0%, 59%, 20%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-cyan);
  background-image: url("./images/bg-pattern-top.svg"),
    url("./images/bg-pattern-bottom.svg");
  background-size: 978px 978px;
  background-position: calc(50% - 489px) calc(50vh - 978px),
    calc(50% + 489px) 50vh;
  background-repeat: no-repeat;
}

ul {
  list-style: none;
}

p {
  color: var(--dark-grayish-blue);
}

.card {
  max-width: 350px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
  margin: 1.3rem;
}

.background-pattern {
  height: 140px;
  width: 100%;
  object-fit: cover;
}

.profile-picture {
  border-radius: 100px;
  border: 5px solid white;
  width: 106px;
  height: 106px;
  object-fit: cover;
  margin-top: -48px;
}

.user-info {
  margin: 1.39em auto;
  text-align: center;
}

.basic-info-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
  gap: 0.5em;
  margin-bottom: 0.5rem;
}

.name {
  font-size: 1rem;
  color: var(--very-dark-desaturated-blue);
}

.age {
  font-size: 1rem;
}

.residence {
  font-size: 0.8rem;
}

.profile-stats {
  width: 100%;
  border-top: 1px solid var(--dark-gray-transparent);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 1.39em 0;
}

.stat {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.stat-number {
  font-size: 1rem;
  color: var(--very-dark-desaturated-blue);
}

.stat-name {
  font-size: 0.5rem;
  color: var(--dark-grayish-blue);
  letter-spacing: 0.2em;
}

.attribution {
  margin: 1rem;
}
